@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-oswald {
    font-family: 'Oswald', sans-serif;
}


